name: Java CI

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven
      - name: Validate, build and run tests
        run: mvn --batch-mode --update-snapshots clean package
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: scenario-quality-checker-jar
          path: target/*.jar
